include includes/mixins

doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=0.7')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')

		title Pullquote

		// CSS
		link(rel='stylesheet', href='css/pullquote.css?v4')

	body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

		section#background-grid

		// COVER
		section#cover
			

			//div.story-cover-arrow
			div#cover-content
				h1 Piquote
				h2.intro Picture quotes made easy. 
						
				div#layout-editor

					

		// JavaScript
		script(type='text/javascript', src='js/pullquote.js?v10')
